@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc-756Y4e0JEqFmuXFKxIapnIcgIN7jhFP_NMkZYo3N0zz2FnrQKzXIXNJf0QIojSqID0IHNxyQxpZR7NglpqkLggeuZy7DmyMmjyQVtJBvG3QooCjlsVodWcIoK1DvPr-og-nuk44pCaEdZ2f28CTrERvsTcSEkj3RtK2E4ePDsF9yyy43EiDmmuDr-l998uZyw7odqNNLV6vtplQr0otJNCY5be5H9kYYt4db2awvjoZdU7KR9zCdLg0EFYMMsl_0co1FMMyGfw5DhdSttrm2Zwz-71JRpwEOIxRIXHqJiSt6XojX75k_jvogKf6KBgCXzOVSlGgC6JRus_tkxEdkhCANjMhe2xaWMYzInt4t3N3W2S-UCxmKTdIB37p-ZT-1flonA7JSj9bCK5rlW6fqXCb2auOFHltpccfKt7orinQi4jECi-ZPiyvsRuG8u6ZuZpUAZYgykuYXKPYl1NhaWNo3tmG0yWiM17mocwkxno2G6YCOf20_7RKFRFS6fWwc8746AgPnXwa0ZnjnXawhELv0_Mj5s4lDwLfGqDia9l_gemXu28IQIZarFP8DK2XmqQDPFk__Z0vpyZrh3Ls1TxWgLBUxOLU6J-C1f1pgXijUgNdEOt_OH8O-cVY9u3646F0ceH8veCFAm5G4x56p5INW9zMU5EPKh5YYPh-trOaPFUMoFTdop9GBkuuCo1NWnr12yQMo1ft-JVHmpEY45MmDzEG2GxA-mgOUpsNPo6noCgEGRuxZfOgonb0HrKS8u4Y3idALHf5OzX7UGKQ86FFQzekr48KH_JLwdCNEbYZxI1BNlGQJw6orxEKQB6Nfjg4jgzdrXY9uKpMJ3N9N3iBRYmNjqYpcaa9aKzuw7cfEcI9Sk4xuz24deGBdkSKqO-HTzvxX-wGRIEDryCbNBgKU=w862-h404-s-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 75px;
}

.header {
    color: white;
}
.poem {
    position:absolute;
    background: rgba(135, 206, 235, 0.6);
    color: navy;
    padding: 25 px;
    text-align: center;
    font-size: 12pt;
}

.text {
    text-align: justify;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /*border-right: 15px solid rgb(0, 0, 128, 0.5);*/
    width: 40%;
}

h1 {
    text-align: center;
}

.quote{
    font-family: "caprasimo", serif;
    color: royalblue;
}


