@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    background-image: url("mmhbackgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 75px;
}

.header {
    color: white;
}
.poem {
    position:absolute;
    background: rgba(135, 206, 235, 0.6);
    color: navy;
    padding: 25 px;
    text-align: center;
    font-size: 12pt;
}

.text {
    text-align: justify;
    background: rgba(255, 255, 255, 0.7);
    display: table;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /*border-right: 15px solid rgb(0, 0, 128, 0.5);*/
    width: 40%;
}

h1 {
    text-align: center;
}

.quote{
    font-family: "caprasimo", serif;
    color: royalblue;
}


